.tt-accordion {
  background: #fff;
  border-top: 2px solid #ddd;
  margin: 1em 0; }
  .tt-accordion__item {
    margin: 0;
    padding: 0; }
  .tt-accordion__heading {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
    color: #06f;
    cursor: pointer;
    font-family: "Open Sans",  "Segoe UI", Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding: 1em; }
    .tt-accordion__heading:hover {
      text-decoration: underline; }
    .tt-accordion__heading::details-marker {
      display: none; }
    .tt-accordion__heading::-o-details-marker {
      display: none; }
    .tt-accordion__heading::-ms-details-marker {
      display: none; }
    .tt-accordion__heading::-moz-details-marker {
      display: none; }
    .tt-accordion__heading::-webkit-details-marker {
      display: none; }
  .tt-accordion__marker {
    float: right;
    font-size: 32px;
    margin-top: -4px;
    text-decoration: none !important; }
  .tt-accordion__content {
    border-bottom: 1px solid #ddd; }
    .tt-accordion__content[aria-expanded="false"] {
      display: none; }
