// Colours
$white      : #fff;
$dark-grey  : #ddd;
$dark-blue  : #06f;
$light-grey : #fafafa;

.tt-accordion {
  background: $white;
  border-top: 2px solid $dark-grey;
  margin: 1em 0;

  &__accordion {
    margin: 0;
    padding: 0;
  }

  &__header {
    background: $light-grey;
    border-bottom: 1px solid $dark-grey;
    color: $dark-blue;
    cursor: pointer;
    font: {
      size: 17px;
      weight: 600;
    }
    margin: 0;
    padding: 1.2em 1.5em;

    &:hover {
      text-decoration: underline;
    }

    &--stuck { position: fixed; }
  }

  &__marker {
    float: right;
    font-size: 32px;
    margin: {
      top: -6px;
      right: 0;
      bottom: -12px;
      left: 0.5em;
    }
    text-decoration: none !important;
  }

  &__content {
    border: 1px solid $light-grey;
    border-bottom: 1px solid $dark-grey;
    padding: 2em 1.5em;

    // Visibility linked explicitly to ARIA state
    &[aria-hidden="true"] {
      display: none;
    }

    // Remove extraneous margins
    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
}
